body {
    background-color: rgb(2, 116, 53);
  }

  .meuNome {
    font-family: Arial;
    text-align: center;
  }
  .descricao{
    font-family: Arial;
  
  }

  em {
    color: rgb(5, 46, 15);
  }

  .javascript {
    font-size: 20px;
  }

  .sql {
    font-size: 18px;
  }

  .react {
    font-size: 16px;
  }

  .bootstrap {
    font-size: 14px;
  }

  .metoAgil {
    font-size: 12px;
  }

  #foto{
float: left;
height: 280px;
padding: 10px;
background-color: chocolate;

  }

  #ajuste{
    height: 300px;
  }

ul li:nth-child(odd) {
  background-color: aquamarine;

}